* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
li img {
  display: inline-block;
  float: right;
}
li .octocat {
  float: left;
  padding: 0;
  display: block;
  border-style: solid;
  border-width: thin;
  border-color: #D5D5D5;
  border-radius: 3px;
  margin: 0;
}

.octocat {
  border-bottom-style: solid;
  border-color: #D5D5D5;
  border-width: thin;
  padding: 0;
  margin: 10px;
}
.octodex {
  margin: 8px;
}
li {
  display: inline-block;
}
ul {
  padding: 0;
}
ul:first-of-type {
  display: inline-block;
  float: left;
}
footer {
  display: block;
  margin: 0;
  height: 60px;
}
footer cite {
  font-style: normal;
}
img[alt*="cat"] {
  width: 390px;

}
img {
  width: 25px;
  border-radius: 3px;
}
ul .authors {
  float: right;
  padding-left: 10px;
  margin: -2px 0px 9px 0;
}
/*
==========================
Text
==========================
*/
a {
  text-decoration: none;
  font-style: normal;
  color: black;
}
cite {
  float: right;
  color: #8B98A4;
  font-style: bold;
  font-weight: bold;
  font-size: 14px;
  font-family: "helvetica", sans-serif;
  position: relative;
  margin: 15px 0 0 0;
}
.triangle-down {
  width: 5px;
  height: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #CACACA;
  position: relative;
  top: 391px;
  left: 373px;
}
h3 {
  line-height: 25px;
}
/*
==========================
Number
==========================
*/
.octonumber {
  margin: 10px 0 0;
  position: relative;
  float: left;
  color: #CACACA;
  font-size: 15px;
  font-family: "helvetica", sans-serif;
}
.octonumber::before {
  content: "#";
}
